In [3]:
import numpy as np
import pandas as pd

In [5]:
# загружу csv файлы
fulfilment_center_info = pd.read_csv('fulfilment_center_info.csv')
meal_info = pd.read_csv('meal_info.csv')
train = pd.read_csv('train.csv')

In [7]:
train.shape

(456548, 9)

In [8]:
# Explore Fulfilment Center Info
print(fulfilment_center_info.head())  # Prints the first 5 rows
print(fulfilment_center_info.info())  # Gives the summary information including data types and non-null counts
print(fulfilment_center_info.describe())  # Provides descriptive statistics for numerical columns

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   center_id    77 non-null     int64
 1   city_code    77 non-null     int64
 2   region_code  77 non-null     int64
 3   center_type  77 non-null     object
 4   op_area      77 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 3.1+ KB
None
        center_id   city_code  region_code    op_area
count   77.000000   77.000000    77.000000  77.000000
mean    83.142857  600.662338    56.493506   3.985714
std     46.090219   66.720274    18.126473   1.106406
min     10.000000  456.000000    23.000000   0.900000
25%     50.000000  553.000000    34.000000   3.500000
50%     77.000000  596.000000    56.000000   3.900000
75%    110.000000  651.000000    77.000000   4.400000
max    186.000000  713.000000    93.000000   7.000000

In [9]:
# Explore Meal Info
print(meal_info.head())
print(meal_info.info())
print(meal_info.describe())

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meal_id   51 non-null     int64
 1   category  51 non-null     object
 2   cuisine   51 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB
None
           meal_id
count    51.000000
mean   2013.921569
std     553.633555
min    1062.000000
25%    1550.500000
50%    1971.000000
75%    2516.500000
max    2956.000000

In [10]:
print(train.head())
print(train.info())
print(train.describe())

        id  week  center_id  meal_id  checkout_price  base_price  \
0  1379560     1         55     1885          136.83      152.29
1  1466964     1         55     1993          136.83      135.83
2  1346989     1         55     2539          134.86      135.86
3  1338232     1         55     2139          339.50      437.53
4  1448490     1         55     2631          243.50      242.50

   emailer_for_promotion  homepage_featured  num_orders
0                      0                  0         177
1                      0                  0         270
2                      0                  0         189
3                      0                  0          54
4                      0                  0          40
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 31.3 MB
None
                 id           week      center_id        meal_id  \
count  4.565480e+05  456548.000000  456548.000000  456548.000000
mean   1.250096e+06      74.768771      82.105796    2024.337458
std    1.443548e+05      41.524956      45.975046     547.420920
min    1.000000e+06       1.000000      10.000000    1062.000000
25%    1.124999e+06      39.000000      43.000000    1558.000000
50%    1.250184e+06      76.000000      76.000000    1993.000000
75%    1.375140e+06     111.000000     110.000000    2539.000000
max    1.499999e+06     145.000000     186.000000    2956.000000

       checkout_price     base_price  emailer_for_promotion  \
count   456548.000000  456548.000000          456548.000000
mean       332.238933     354.156627               0.081152
std        152.939723     160.715914               0.273069
min          2.970000      55.350000               0.000000
25%        228.950000     243.500000               0.000000
50%        296.820000     310.460000               0.000000
75%        445.230000     458.870000               0.000000
max        866.270000     866.270000               1.000000

       homepage_featured     num_orders
count       456548.00000  456548.000000
mean             0.10920     261.872760
std              0.31189     395.922798
min              0.00000      13.000000
25%              0.00000      54.000000
50%              0.00000     136.000000
75%              0.00000     324.000000
max              1.00000   24299.000000

In [11]:
# Shape of the dataframes
print(fulfilment_center_info.shape)
print(meal_info.shape)
print(train.shape)

(77, 5)
(51, 3)
(456548, 9)